<div id="userBox" class="responsiveBox">
<div class="w3-card-4" id="b" style="width:100%">
<br>
<div>
<a href="/user/edit">
<div id="edit">
<i class="fa fa-edit"></i>
</div>
</a>
<a href="/user/add-post">
<div id="edit">
<i class="fa fa-plus"></i>
</div>
</a>
{{#if pic}}
<img class="image" src="http://localhost:2929/{{pic}}"  width="220" height="240">
{{else}}
<img class="image" src="https://moonvillageassociation.org/wp-content/uploads/2018/06/default-profile-picture1.jpg"  width="220" height="240">
{{/if}}


<h5 align="center"><b>{{username}} </b></h5>
<a href="/user/remove-pic" class="btn btn-danger pull-right" style="margin: 20px;" role="button">Remove Profile Pic</a>
<a href="/user/upload-pic" class="btn btn-primary pull-right" style="margin: 20px;" role="button">Update Profile Pic</a>
<br><br>
</div>
<br>
<header class="w3-container w3-light-grey header">
 
</header>
<br>
<br>
<div id="post">

{{# each items}}

<div class="w3-container">
{{# each this}}
    <div class="w3-card-4" style="width:65%">
        <header class="w3-container w3-light-grey header">
            
            <a href="/user/delete/{{ this._id }}">
            <div style="text-align:right">
                    <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
            </a>
            
            <i class="fa fa-user" aria-hidden="true"></i> &nbsp; <b>{{this.postedBy}}</b>
          
        </header>
        <div class="w3-container content">
            <p>{{this.text}}</p><br>
            <img class="img-responsive" src="http://localhost:2929/{{ this.photo }}" alt="">
        </div>
        <footer class="w3-container w3-light-grey footer">
                <i class="fa fa-thumbs-o-up heart" like-id="{{this._id}}" >{{this.likes.length}} </i> 
            &nbsp;
            &nbsp;
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            {{this.comments.length}}<br><br>
            {{# each comments}}
            <div  class="w3-container content" class="commentBox">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{#each this}}

            <b>{{this.postedBy}} </b>
            {{this.text}}
            {{/each}}
            </div>
            {{/each}}
            <a href="/user/add-comment/{{ this._id }}" class="btn btn-primarypull-right" role="button">Add Comment </a>
        </footer>
    </div>
    <br>
{{/each}}
</div>
{{/each}}

</div>
</div>
</div>

