<div id="userBox" >
<br>
<div>
<a href="/user/edit">
<div id="edit">
<i class="fa fa-edit"></i>
</div>
</a>
{{#if pic}}
<img class="image" src="{{pic}}"  width="150" height="170">
{{else}}
<img class="image" src="https://as2.ftcdn.net/jpg/00/64/67/63/500_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"  width="150" height="170">
{{/if}}


<h5 align="center"><b>{{username}} </b></h5>

</div>
<br>
<nav class="navbar navbar-default" style="width:100%">
<a class="navbar-brand" href="/user/profile">My Posts</a>
</nav>
<div id="post">

{{# each items}}

<div class="w3-container">
{{# each this}}
    <div class="w3-card-4" style="width:65%">
        <header class="w3-container w3-light-grey header">
            
            <a href="/user/delete/{{ this._id }}">
            <div style="text-align:right">
                    <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
            </a>
            <img class="img-responsive" src="{{ this.photo }}"alt="">
            <i class="fa fa-user" aria-hidden="true"></i> &nbsp; <b>{{this.postedBy}}</b>
          
        </header>
        <div class="w3-container content">
            <p>{{this.text}}</p><br>
            <img class="img-responsive" src="{{ this.photo }}" alt="">
        </div>
        <footer class="w3-container w3-light-grey footer">
            
        </footer>
    </div>
    <br>
{{/each}}
</div>
{{/each}}


</div>
</div>

