<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel='stylesheet' href='/stylesheets/style.css'/>
<body>

{{# each items}}

<div class="w3-container">
{{# each this}}
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey header">
        <img class="img-responsive" src="" alt="">
        <i class="fa fa-user" aria-hidden="true"></i> &nbsp; {{this.postedBy}}
        <h6 align="right">{{this.created}}</h6>
    </header>
    <div class="w3-container content">
      <p>{{this.text}}</p><br>
      <img class="img-responsive" src="{{ this.photo }}" alt="">
    </div>
    <footer class="w3-container w3-light-grey footer">
    <span id="heart" onclick="window.location.href='/user/signin'"><i id="h" class="fa fa-heart-o" aria-hidden="true" ></i></span> {{this.likes.length}}
      &nbsp;
      &nbsp;
      <button > <i class="fa fa-comment-o" aria-hidden="true"></i></button>
    {{this.comments.length}}
     </footer>
  </div>
  <br>
{{/each}}
</div>
{{/each}}

    <div class="w3-container content">
      <input type="text" id="textbox" placeholder="Write Something">
    </div>
    <div class="w3-container content" id="commentBox">

    </div>

<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</body>
</html>
